<header>
  <nav>
    <div class="container">
      <div (click)="showCatalog()" class="navCat">
        <div class="burger"> &#9776;</div>
        <p>Kataloq</p>
      </div>
      <div class="logo">
        <a class="navbar-brand" [routerLink]="['/']" (click)="setTitle('Main Page')">
          <img src="assets/img/logo-h.png" alt="Logo" />
        </a>
      </div>
      <div class="user">
        <div class="user_item">
          <fa-icon [icon]="faSearch"></fa-icon>
        </div>
        <div class="user_item">
          <a 
            (click)="setTitle('Favoriler')"
            routerLinkActive="active" 
            [routerLink]="['/favorites']">
            <fa-icon [icon]="faHeart"></fa-icon>
          </a>
        </div>
        <div class="user_item">
          <a 
            (click)="setTitle('Sebetiniz')" 
            routerLinkActive="active"
            [routerLink]="['/checkout']">
            <fa-icon [icon]="faShoppingCart"></fa-icon>
          </a>
        </div>
        <div class="user_item">
          <a 
            (click)="setTitle('Kabinet')" 
            routerLinkActive="active" 
            [routerLink]="['/login', 'form']">
            <fa-icon [icon]="faUser"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>