<footer>
  <div class="container">
    <div class="footerInfo">
      <div class="fi_left">
        <a [routerLink]="['/']">
          <img src="assets/img/logo-vv.png" alt="logo">
        </a>
        <a href="tel:123-456-7890">Zəng et: 123-456-7890</a>
        <a href="mailto:sample@e-basket.az">Email: sample@e-basket.az</a>
      </div>
      <div class="fi_right">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24308.614652343935!2d49.836198757779414!3d40.396070479504566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x403087fbef6b3dfb%3A0xc32b1d5765759234!2sSTEP%20Komp%C3%BCter%20Akademiyas%C4%B1%2C%20Baki!5e0!3m2!1sru!2s!4v1610015222382!5m2!1sru!2s" 
          width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
    <section class="footIcons">
      <div class="footIcon anim-items"><a href="#" class="fab fa-facebook-f"></a></div>
      <div class="footIcon anim-items"><a href="#" class="fab fa-instagram"></a></div>
      <div class="footIcon anim-items"><a href="#" class="fab fa-whatsapp"></a></div>
      <div class="footIcon anim-items"><a href="#" class="fab fa-telegram-plane"></a></div>
      <div class="footIcon anim-items"><a href="#" class="fab fa-youtube"></a></div>
    </section>
    <section class="copy">
      <p>&copy; E-Basket 2020. Bütün hüquqlar qorunub.</p>
    </section>
  </div>
</footer>
