<div class="container">
  <div class="loginWrap">
    <div class="loginHead">
      <h1>
        <a href="">DAXIL ol</a>
        <span> və ya </span>
        <a href="">Qeydiyyatdan keç</a>
      </h1>
    </div>
    <div class="loginForm_wrap">
      <form class="loginForm" method="post">
        <p>
          <label for="username">Email</label>
          <input type="email" name="username" id="username" autocomplete="username" />
        </p>
        <p>
          <label for="password">Şifrə</label>
          <input type="password" name="password" id="password" />
        </p>
        <p>
          <label id="rememberme"><input name="rememberme" type="checkbox" id="rememberme"> Yadda saxla</label>
        </p>
        <p>
          <button type="submit" name="login" id="login" >Daxil ol</button>
          <span><a href="#">Şifrəni unutdun?</a></span>
        </p>
      </form>
    </div>
  </div>
</div>
