<app-header></app-header>
<div id="route"><router-outlet></router-outlet></div>
<app-footer></app-footer>
<app-categories></app-categories>
<div class="phoneNav">
  <div class="phoneNav_item"><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']" class="fas fa-home"></a></div>
  <div class="phoneNav_item"><a routerLinkActive="active" [routerLink]="['/favorites']" class="fas fa-heart"></a></div>
  <div class="phoneNav_item"><a routerLinkActive="active" [routerLink]="['/checkout']" class="fas fa-shopping-cart"></a></div>
  <div class="phoneNav_item"><a routerLinkActive="active" [routerLink]="['/login']" class="fas fa-user"></a></div>
</div>
<div class="overlay" (click)="closeCatalogService.closeCatalog()"></div>
<div (click)="toTop()" class="toTop"></div>