<section class="about">
  <div class="container">
    <div class="aboutTitle anim-items">
      <h3>Bizim Haqqımızda</h3>
      <img src="../../../assets/img/uzor.png" alt="" />
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi sapiente necessitatibus iure numquam sed
        sequi dolor delectus ducimus maxime architecto, nihil suscipit molestiae doloremque consequatur, neque
        libero qui esse ex hic cum! Ducimus culpa odit sequi sed cum ea consequuntur, ullam explicabo, fugit officia
        harum omnis maiores hic. Ipsam, reprehenderit?</p>
    </div>
    <div class="aboutImg anim-items">
      <img src="../../../assets/img/team.png" alt="">
    </div>
  </div>
</section>